Options -MultiViews
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(plantizia|gardenholice|lukscheiter|zahradananiti|kytkasem|farmarky|plantoteka|plantbros|sever|izbovecky|brest)\.mojchatbot\.sk$ [NC]
RewriteRule ^$ cosmetics.html [L]
RewriteRule ^rastliny/[a-z0-9-]+/?$ cosmetics.html [L,NC]
<IfModule mod_headers.c>
Header set X-Robots-Tag "noindex, nofollow, noarchive"
</IfModule>
